@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}



@layer base {
        @font-face {
            font-family: RethinkSans-Bold;
            font-weight: 900;
            src:url(/font/RethinkSans-Bold.woff2) format("woff2"), 
            url(/font/RethinkSans-Bold.woff) format("woff"),
            url(/font/RethinkSans-Bold.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-BoldItalic;
            font-weight: 900;
            src:url(/font/RethinkSans-BoldItalic.woff2) format("woff2"), 
            url(/font/RethinkSans-BoldItalic.woff) format("woff"),
            url(/font/RethinkSans-BoldItalic.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-ExtraBold;
            font-weight: 900;
            src:url(/font/RethinkSans-ExtraBold.woff2) format("woff2"), 
            url(/font/RethinkSans-ExtraBold.woff) format("woff"),
            url(/font/RethinkSans-ExtraBold.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-ExtraBoldItalic;
            font-weight: 900;
            src:url(/font/RethinkSans-ExtraBoldItalic.woff2) format("woff2"), 
            url(/font/RethinkSans-ExtraBoldItalic.woff) format("woff"),
            url(/font/RethinkSans-ExtraBoldItalic.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-Italic;
            font-weight: 900;
            src:url(/font/RethinkSans-Italic.woff2) format("woff2"), 
            url(/font/RethinkSans-Italic.woff) format("woff"),
            url(/font/RethinkSans-Italic.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-Medium;
            font-weight: 900;
            src:url(/font/RethinkSans-Medium.woff2) format("woff2"), 
            url(/font/RethinkSans-Medium.woff) format("woff"),
            url(/font/RethinkSans-Medium.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-MediumItalic;
            font-weight: 900;
            src:url(/font/RethinkSans-MediumItalic.woff2) format("woff2"), 
            url(/font/RethinkSans-MediumItalic.woff) format("woff"),
            url(/font/RethinkSans-MediumItalic.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-Regular;
            font-weight: 900;
            src:url(/font/RethinkSans-Regular.woff2) format("woff2"), 
            url(/font/RethinkSans-Regular.woff) format("woff"),
            url(/font/RethinkSans-Regular.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-SemiBold;
            font-weight: 900;
            src:url(/font/RethinkSans-SemiBold.woff2) format("woff2"), 
            url(/font/RethinkSans-SemiBold.woff) format("woff"),
            url(/font/RethinkSans-SemiBold.ttf) format("truetype");
        }
        @font-face {
            font-family: RethinkSans-SemiBoldItalic;
            font-weight: 900;
            src:url(/font/RethinkSans-SemiBoldItalic.woff2) format("woff2"), 
            url(/font/RethinkSans-SemiBoldItalic.woff) format("woff"),
            url(/font/RethinkSans-SemiBoldItalic.ttf) format("truetype");
        }
        
        /*@font-face {
            font-family: PlatNomor;
            font-weight: 900;
            src:url(/fonts/PlatNomor.woff2) format("woff2"), 
            url(/fonts/PlatNomor.woff) format("woff"),
            url(/fonts/PlatNomor.ttf) format("truetype");
        }  */
}


/**
* Custom/Additional Classes
*/
.mainbackground {
    background-color: #dfe6f0;
}

/* from elementor */
.primary-blue{
    color: #6EC1E4;
}
/* for h1 1st line */
.primary-light-blue {
    color: #00afef;
}
/* for h1 2nd line */
.primary-dark-blue{
    color: #323581;
}
.primary-gray {
  color: #8c8c97;
}
/* border divider */
.border-divider {
  border-bottom: 1px #e9ebef solid;
}
.bg-blue-500{
    background-color: #292d73;
}
.bg-gray{
    background-color: #fafafa;
}
.bg-gradient-blue {
  background: #2A2E73;
  background: linear-gradient(0deg,rgba(42, 46, 115, 1) 0%, rgba(47, 81, 145, 1) 70%, rgba(50, 98, 160, 1) 100%);
}
h1, h2 {
    color: #00afef;
}
.float-right{
    float: right;
}

/* FONTS */
.font-rethinksansbold {
  font-family: RethinkSans-Bold;
}
.font-rethinksansbolditalic {
  font-family: RethinkSans-BoldItalic;
}
.font-rethinksansextrabold {
  font-family: RethinkSans-ExtraBold;
}
.font-rethinksansextrabolditalic {
  font-family: RethinkSans-ExtraBoldItalic;
}
.font-rethinksansitalic {
  font-family: RethinkSans-Italic;
}
.font-rethinksansmedium {
  font-family: RethinkSans-Medium;
}
.font-rethinksansmediumitalic {
  font-family: RethinkSans-MediumItalic;
}
.font-rethinksansregular {
  font-family: RethinkSans-Regular;
}
.font-rethinksanssemibold {
  font-family: RethinkSans-SemiBold;
}
.font-rethinksanssemibolditalic {
  font-family: RethinkSans-SemiBoldItalic;
}


/* Recent Jobs */
@media (max-width: 767px) {
  #recent-jobs-info {
    flex-direction: column !important;
  }
}