@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/**
* Custom/Additional Classes
*/
.mainbackground{
    background-color: rgba(177, 186, 211, 0.6);
}

/* from elementor */
.primary-blue{
    color: #6EC1E4;
}
/* for h1 1st line */
.primary-light-blue{
    color: #00afef;
}
/* for h1 2nd line */
.primary-dark-blue{
    color: #323581;
}

.bg-blue-500{
    background-color: #292d73;
}

h1, h2 {
    color: #00afef;
}